.score-panel {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 633px;
}

.score-group {
  position: absolute;
  left: 204px;
  top: 323.2px;
  width: 236px;
  height: 113px;
}

.score-value {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-67);
  color: var(--color-text-white);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 43px;
  transform: translate(-50%, -50%);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-value {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-21);
  color: var(--color-text-white);
  white-space: nowrap;
  position: absolute;
  left: 178px;
  top: 29.5px;
  transform: translateY(-50%);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trophy-icon {
  position: absolute;
  left: 209.62px;
  top: 21.54px;
  width: 16.74px;
  height: 13.93px;
}

.progress-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-21);
  color: var(--color-text-white);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 99.5px;
  transform: translate(-50%, -50%);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-text .bold {
  font-weight: var(--font-weight-bold);
}


