.score-panel {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 633px;
}

.score-group {
  position: absolute;
  left: 204px;
  top: 323.2px;
  width: 236px;
  height: 113px;
}

.score-value-container {
  position: absolute;
  left: 50%;
  top: 43px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.score-value {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-67);
  color: var(--color-text-white);
  white-space: nowrap;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-change {
  position: absolute;
  right: -60px;
  top: -8px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-21);
  white-space: nowrap;
  animation: fadeInSlide 0.4s ease-out;
  z-index: 10;
}

.score-change.positive {
  color: var(--color-border-success);
}

.score-change.negative {
  color: var(--color-border-error);
}

.change-arrow {
  font-size: var(--font-size-21);
  line-height: 1;
}

.change-value {
  font-size: var(--font-size-21);
  line-height: 1;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-50%) translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}

.progress-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-21);
  color: var(--color-text-white);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 99.5px;
  transform: translate(-50%, -50%);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-text .bold {
  font-weight: var(--font-weight-bold);
}


